<!DOCTYPE html>
<html class="nojs">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Jerold Bronsch | Front-End Developer</title>
		<meta name="description" content="Jerold Bronsch is a Front-End Developer helping to provide both a minimalist and sleek experience for the new digital age.">
		<meta name="keywords" content="Jerold Bronsch,Vancouver Web Developer, Vancouver Web Designer, Web Design, UX Design, UI Design">
	    <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/normalize.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/responsive.min.css">
</head>
<body>
	<header>
			<nav class="cssmenu">
				<div>
					<ul>
						<li><a href="#about">Home</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</nav>
	</header>
	{% include "flash.twig" %}
	<div class="container home" id="about">
		<div class="sectionHead meMain">
			<h1>Jerold Bronsch</h1>
			<h2>Freelance Front-End Development and Design</h2>
		</div>
	</div>
	<div class="container content">
		<h2>I am a freelance web designer and front-end developer living and working in Richmond, B.C., Canada.</h2>
		<div class="wrapper aboutMe">
			<h3>I specialize in HTML5, CSS3, Javascript, and Jquery... but I am always learning more. Two other technologies I have started to learn are Ajax and Node.js, as well as dabbling in PHP. I am currently searching for small-business and personal opportunites for both work and self improvement. <br><p>I look forward to talking to you soon.</p> <br> :) </h3>
		</div>
	</div>
	<div class="container projects" id="projects">
		<div class="sectionHead">
			<h1>Projects</h1>
		</div>
	</div>
	<div class="container content projectSection">
		<a href="https://github.com/Jbronsch"><img src="img/githubmark.png" alt="My Github"></a>
		<p>My Github<p>
		<p>More coming soon!</p>
	</div>
	<div class="container contact" id="contact">
		<div class="sectionHead">
			<h1>Contact Me!</h1>
		</div>
	</div>
	<div class="container content contactSection">
		<div id="contactForm">
			<form class="contactForm" role="form" method="post" action="">
	        	<div class="formSection">
	                <label for="form-name">Name</label><br>
	                <input type="text" class="form" name="name" placeholder="Full Name">
	       		</div>
	            <div class="formSection">
	                <label for="form-email" class="control-label">Email</label><br>
	                <input type="text" class="form" name="email" placeholder="Email">
	            </div>
	             <div class="formSection">
	                <label for="form-subject" class="control-label">Subject</label><br>
	                <input type="text" class="form" name="subject" placeholder="Subject">
	            </div>
	            <div class="formSection">
	                <label for="form-message" class= "control-label">Message</label><br>
	                    <textarea rows="5" cols="35" class="form" name="message" placeholder="Message"></textarea>
	            </div>
	            <div class="formSection">
	                <div>
	                    <input type="submit" value="Submit" class="button-link">
	                </div>
	        	</div>
			</form>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>